{% extends 'users/base.html' %}

{% block start %}

<div class="container mt-4">
    <div class="col-md-4 mx-auto">
        <h1>Register</h1>
      <form>
            <!-- UserName input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">UserName</label>
            <input type="email" id="form2Example1" class="form-control" />
          </div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Email address</label>
            <input type="email" id="form2Example1" class="form-control" />
          </div>
        
          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password</label>
            <input type="password" id="form2Example2" class="form-control" />
          </div>
          
          
        
          <!-- Submit button -->
          <button type="button" class="btn btn-primary btn-block mb-4">Log in</button>
        
          <!-- Register buttons -->
          <div class="text-center">
            <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
            <p>or sign up with:</p>
  
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>
            
          </div>
      </form>
    </div>
  </div>

{% endblock %}